* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8fa;
  font-family: "Lato", sans-serif;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.1599999964237213px;
  text-decoration-skip-ink: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}
ul li {
  background-color: #1179BF;
}
ul li img{
  background-color: #1179BF;
}
input:focus {
  outline: 0px;
}
header {
  max-width: 100%;
  border-bottom: 2px solid rgb(204, 207, 209);
  padding: 1.2rem 0;
  margin: 0 2rem;
}
header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > nav button {
  width: 91px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border: 2px solid #646e7a;
  line-height: 16.8px;
}
header nav > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
/* style for main */
.container {
  max-width: 900px;
  display: flex;
  margin: auto;
  margin-top: 4rem;
  box-shadow: 0 10px 30px rgba(43, 64, 78, 0.1);
}
.container .main-container {
  max-width: 65%;
  width: 60%;
}
.main-container .checkout-div {
  padding: 2rem 1rem;
  border-bottom: 2px solid #d1d2d4;
  ;
}
.main-container .checkout-div h2 {
  font-size: 1.9rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(29, 44, 60, 1);
}
.main-container .information {
  border-bottom: 2px solid #d1d2d4;
  padding: 3rem 1rem;
}
.main-container .information .info-details {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.container .price-price {
  width: 40%;
  background-color: #1179BF;
  padding: 2rem 3rem;
}
.price-price .plan {
  display: flex;
  flex-direction: column;
}
.price-price .plan h3 {
  background-color: #1179BF;
  color: white;
}
/* form styling */
.main-container .form-div {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.form-div .flex-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-div .flex-form > label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16.8px;
}
.form-div .flex-form > input {
  width: 15rem;
  height: 1.6rem;
  background-color: #edeff2;
  border: none;
  padding-left: 1rem;
}
.form-div .box > input {
  width: 23rem;
}
.container .main-container .payment-card {
  padding: 1rem 1rem;
}
.container .main-container .payment-card .card {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.container .form-two {
  width: 100%;
  margin-top: 1rem;
}
.flex-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-two > input {
  height: 1.8rem;
  background-color: #edeff2;
  border: none;
  padding-left: 1rem;
}
.payment-card .btn {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgb(222, 222, 228);
  padding-top: 2rem;
}
.btn button {
  width: 32rem;
  height: 3rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  background-color: #038e7d;
  color: white;
  border: none;
  cursor: pointer;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .support {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  justify-content: center;
  gap: 10px;
  width: 70%;
  line-height: 25px;
}
.contact .support a {
  text-decoration: underline;
  font-weight: 400;
}
.contact .support img {
  margin-bottom: 1.5rem;
}
.label-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.label-img img {
  width: 7rem;
  height: 1.5rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}
footer a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}
.mobile-head, .mobile-main{
    display: none;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1179BF;
}
.price h2{
  font-size: 4.5rem;
  font-weight: 300;
  background-color: #1179BF;
  color: white;
}
.price h2 sup {
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #1179BF;
  color: white;
}
.price h2 span{
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #1179BF;
  color: white;
}
.price-price .features{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1179BF;
}
.price-price .features p{
  font-size: 1rem;
  font-weight: 400;
  width: 70%;
  background-color: #1179BF;
  color: white;
}
.features .list{
  display: flex;
  gap: 1rem;
  background-color: #1179BF;
  color: white;
}
.features .list .list-ul{
  display: flex;
  gap: 1rem;
  background-color: #1179BF;
  color: white;
  flex-direction: column;
}
.features .list .list-ul li{
  display: flex;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 70%;
  line-height: 1.6rem;
  margin-top: 1rem;
}
.switch p, b{
  background-color: #1179BF;
  color: white;
}
.switch p span{
  border-bottom: 2px solid #569dcc;
  background-color: #1179BF;
}
.price-price .dashline{
  display: flex;
  margin-top: 2.5rem;
  border-bottom: 2px solid #569dcc;
}
.price-price .ftp{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  margin-top: 3rem;
  color: white;
  background-color: #1179BF;
}
.price-price .ftp p{
  font-size: 1rem;
  font-weight: 400;
  background-color: #1179BF;
  align-items: center;
  line-height: 1.5rem;
}
.price-price .ftp p b i{
  font-weight: 600;
  background-color: #1179BF;
}
.price-price .ftp .profile{
  display: flex;
  gap: 1rem;
  background-color: #1179BF;
  align-items: center;
}
.price-price .ftp .profile img{
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
@media (max-width: 680px) {
  header,
  main {
    display: none;
  }
  .mobile-head {
    display: block;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav .mobile{
    display: flex;
  }
  .mobile-main{
    display: block;
  }
  .mobile-container{
    width: 100%;
    height: 100vh;
    background-color: grey;
    position: relative;
    padding: 1.5rem 1.5rem  0 ;
  }
  .out{
    display: flex;
    position: absolute;
    flex-direction: column;
     width: 90%;
     margin-top: 3rem;
  }
  .mobile-container .out .no-checkout, .info{
    margin: 2rem;
  }
  .mobile-container .info .info-wrap{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .mobile-container .info .info-wrap h3{
    font-size: 1.2rem;
  }
  .mobile-form{
    display: flex;
    flex-direction: column;
  }
  .mobile-form .mobile-box{
    display: flex;
    margin-top: 1rem;
  }
  .mobile-form .mobile-box .flex-mo{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 50%;
  }
  .mobile-form .mobile-box .flex-mo input{
    background-color: #edeff2;
    border: none;
    margin-right: 20px;
    height: 2rem;
    padding-left: 0.8rem;
  }
 .box-flex .delastinput{
    width: 100%;
  }
}